/root.*
!/root.tex
*.log 
*.aux 
*.cfg 
*.glo 
*.idx 
*.toc 
*.ilg 
*.ind 
*.out 
*.lof 
*.lot 
*.bbl 
*.blg 
*.gls 
*.cut 
*.hd 
*.dvi 
*.ps 
*.thm 
*.tgz 
*.zip 
*.rpi 
*.pdf
*.fls
*.fdb_latexmk
*.pptx
~*
fig/*eps-converted-to.pdf
!fig/*pdf
